body {
  background-image: url("../img/background.jpg");
}

#banner {
  background-image: url("../img/banner45.png");
}

#container {
  background-color: #3dc9cf;
}

#footer {
  background-color: #3dc9cf;
  text-align: center;
}

a:link {
  color: #ffffff;
}

ul {
  text-decoration: none;
}
